/* Header styles -------------------*/
.row-header {
  display: flex;
  width: 100%;
}


.main-header {
  @extend %clearfix;
  position: fixed;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0, .7);
  display: flex;
  flex-direction: row;
  background: $color-prim;
  z-index: 10001;
  .main-nav {
    @extend %clearfix;
    display: flex;
    flex-direction: row;
  }
  @media #{$brk-narrow} {
    height: 70px;
  }
}

.notifications-box {
  position: fixed;
  z-index: 15000;
  top: 40px;
  right: 5px;
  width: 310px;
  background: $color-four;
  box-shadow: 1px 1px 3px $black;
  border-radius: 4px;
  .members-activity {
    li {
      @extend %margin-z-a;
      width: 90%;
      height: 100px;
      img {
        @extend %profile-img-small;
        margin-top: 20px;
      }
      &:not(:first-child) {
        border-top: 1px solid $color-sec;
      }
      p {
        color: $color-text-white;
        font-size: 12px;
        margin: 10px;
      }
      .read-more {
        margin-top: 20px;
        color: $color-text-white;
      }
      &:hover {
        p,
        img {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
  }
  @media #{$brk-narrow} {
    margin-top: 20px;
    right: 5px;
  }
  @media #{$brk-full-width} {
    left: 1125px;
  }
}

.profile-box {
  position: fixed;
  z-index: 15000;
  top: 40px;
  right: 5px;
  width: 200px;
  background: $color-four;
  box-shadow: 1px 1px 3px $black;
  border-radius: 4px;
  h3 {
    &:nth-child(1n+3) {
      border-top: 1px solid $color-sec;
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  @media #{$brk-narrow} {
    margin-top: 20px;
  }
  @media #{$brk-full-width} {
    left: 1235px;
  }
}
